
*{
	margin: 0;
	padding: 0;
	font-family:[Inter](https://fonts.google.com/specimen/Inter);
}

@media screen and (max-width:424px ){

.super-container{
	background-color: hsl(233, 47%, 7%);
	display: flex;
	justify-content: center;

}

.container{
	background-color: hsl(244, 38%, 16%);
	display: grid;
	width: 80%;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-columns: 1fr;
	margin-top: 40px;
	margin-bottom: 40px;
	padding-bottom: 20px;
	border-radius: 8px;

}

.container-img{
	border-radius: 8px 8px 0 0 ;
	background-color: hsl(277, 64%, 45%);
}

.container-img_img{
	filter: opacity(55%);
	width: 100%;
	height: 100%;
	border-radius: 8px 8px 0 0 ; 
}

.text{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}

.title{
	color: hsl(0, 0%, 100%);
	font-family: 'Inter', sans-serif;
	flex-grow: 1;
	align-self: center;
	text-align: center;
	padding: 14px;
	font-size: 26px;

}

b{
	color: hsl(277, 64%, 60%);
}

.description{
	font-family:'Lexend Deca', sans-serif;
	color:hsla(0, 0%, 100%, 0.6);
	flex-grow: 1;
	align-self: center; 
	text-align: center;
	padding: 8px;
	line-height: 24px;
	object-fit: cov
}

.fact{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-content: center;
}

.data{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 8px;
}

.number{
	color: hsl(0, 0%, 100%);
	margin: 4px;
}

.subtitle{
	color: hsla(0, 0%, 100%, 0.6);
}

}



@media screen and (min-width:424px ){

.super-container{
	background-color: hsl(233, 47%, 7%);
	display: flex;
	min-height: 100vh;
}

.container{
	background-color: hsl(244, 38%, 16%);
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: repeat(2, 1fr);
	margin: 10%;
	border-radius: 8px;

}

.container-img{
	border-radius: 0 8px 8px 0 ;
	background-color: hsl(277, 64%, 45%);
	grid-column: 2/3;
	grid-row: 1/4;
}

.container-img_img{
	filter: opacity(55%);
	width: 100%;
	height: 100%;
	border-radius: 0 8px 8px 0 ; 
}

.text{
	display: flex;
	grid-row: 1/3;
	grid-column: 1/2;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}

.title{
	color: hsl(0, 0%, 100%);
	font-family: 'Inter', sans-serif;
	flex-grow: 1;
	align-content: center;
	text-align: center;
	padding: 14px;
	font-size: 26px;

}

b{
	color: hsl(277, 64%, 60%);
}

.description{
	font-family:'Lexend Deca', sans-serif;
	color:hsla(0, 0%, 100%, 0.6);
	flex-grow: 1;
	align-self: center; 
	text-align: center;
	padding: 8px;
	line-height: 24px;
	object-fit: cover;
}

.fact{
	display: flex;
	justify-content: space-evenly;
	align-content: center;
}

.data{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 10px;

}

.number{
	color: hsl(0, 0%, 100%);
	margin: 4px;
}

.subtitle{
	color: hsla(0, 0%, 100%, 0.6);
}

}